@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Good luck!</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Charades</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/Core")
    <script type="text/javascript">
        play.Urls.getRandomPhrase = '@Url.Action("GetRandomPhrase", "Play")';
    </script>
</body>
</html>